#####################################################################
#   MCU
#####################################################################

[mcu umb]
serial: /dev/serial/by-id/usb-Klipper_rp2040_325234373704AB65-if00
restart_method: command


#####################################################################
#   Extruder
#####################################################################

[extruder]
heater_pin: umb:gpio4
sensor_type: ATC Semitec 104GT-2
sensor_pin: umb:gpio29
pullup_resistor: 2200


#####################################################################
#   Fan Control
#####################################################################

[fan]
pin: umb:gpio2

[heater_fan hotend_fan]
pin: umb:gpio3
heater: extruder
heater_temp: 50.0


#####################################################################
#   Neopixels
#####################################################################

## Neopixel 1 - Frame PCB
[neopixel Case_Light_Right]
pin: umb:gpio1
chain_count: 1
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

## Neopixel 2 - Frame PCB
[neopixel Case_Light_Left]
pin: umb:gpio7
chain_count: 1
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

## Buzzer - Frame PCB
[output_pin beeper]
pin: umb:gpio5
value: 0
shutdown_value: 0

[gcode_macro M300]
description: Custom M300 code to allow beeper to be used in gcode
gcode:
    {% set TIME_MS = params.P|default(100)|float %}
    SET_PIN PIN=beeper VALUE=1
    G4 P{TIME_MS}
    SET_PIN PIN=beeper VALUE=0


#####################################################################
#   Additional Sensors
#####################################################################

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

## CT - Frame PCB
## Chamber thermistor
[temperature_sensor Chamber]
sensor_type: CMFB103F3950FANT
sensor_pin: umb:gpio28
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: chamber_th

## FS - Frame PCB
## Filament Sensor 1
#[filament_switch_sensor runout_sensor]
#switch_pin: umb:gpio6
#pause_on_runout: True

## SU - Frame PCB
## Filament Sensor 2
#[gcode_button filament_sensor_button]
#pin: umb:gpio18
# release_gcode: {INSERT YOUR GCODE HERE}